annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
click==8.5.0
faiss==1.14.3
fastapi==0.141.1
filelock==3.32.4
gmpy2==2.3.1
h11==0.16.0
idna==3.19
Jinja2==3.1.6
joblib==1.5.3
lightgbm==4.7.0
MarkupSafe==3.0.3
mpmath==1.4.1
narwhals==2.25.0
networkx==3.6.1
numpy==1.26.4
packaging==26.3
pandas==3.0.5
pip==26.2.1
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scikit-learn==1.9.0
scipy==1.17.1
setuptools==78.1.1
six==1.17.0
starlette==1.6.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.2.2
typing_extensions==4.16.0
typing-inspection==0.4.4
uvicorn==0.52.4
wheel==0.45.1

